[Unit]
Description=Alacritty in i3 workspace 1
After=network.target

[Service]
Type=simple
ExecStart=/home/nico/.config/alacritty/auto_start.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
