*
!setup.sh
!.gitignore
!.zshrc
!README.md
!note.txt
!installed_app.txt
!.Xresources

!.icons/
!.icons/**/*

!assets/
!assets/**/*

!wallpaper/
!wallpaper/**/*

!gube_endeavouros/
!gube_endeavouros/**/*

!.config/
!.config/mimeapps.list


!.config/nushell/
!.config/nushell/**/*

!.config/wezterm/
!.config/wezterm/**/*

!.config/picom/
!.config/picom/**/*

!.config/alacritty/
!.config/alacritty/**/*

!.config/i3/
!.config/i3/**/*

!.config/polybar/
!.config/polybar/**/*

!.config/LSD/
!.config/LSD/**/*

!.config/rofi/
!.config/rofi/**/*

!.config/yazi/
!.config/yazi/**/*

!.config/tmux/
!.config/tmux/*

!.config/BraveSoftware/
!.config/BraveSoftware/auto_start.sh
!.config/BraveSoftware/Brave-Browser/
!.config/BraveSoftware/Brave-Browser/Default/
!.config/BraveSoftware/Brave-Browser/Default/Bookmarks

!.config/Thunar/
!.config/Thunar/auto_start.sh

!.config/kitty/
!.config/kitty/**/*
